/* timer */
.timer {
    padding: 80px 0;
}

.timer__timer {
    width: 282px;
    margin: 12px auto 0;
    font-size: var(--font-large);
}

.timer__menu {
    margin-top: 12px;
    color: var(--color-red);
    font-size: var(--font-large);
}

/* menu */
.menu {
    padding-bottom: 80px;
}

.menu__list {
    margin: 20px 0;
    width: 100%;
    text-align: center;
    font-size: var(--font-medium);
    border-collapse: collapse;
}

.menu__list-head {
    background-color: var(--color-deep-blue);
    color: var(--color-white);
}

.menu__list tr {
    height: 50px;
}

.menu__list td {
    border-bottom: 1px solid var(--color-gray);
    padding: 10px;
}

.menu__links {
    text-align: right;
    font-size: var(--font-medium-small);
}

.menu__link {
    display: inline-block;
    padding: 8px 12px;
    background-color: var(--color-gray);
    border-radius: 4px;
    color: var(--color-white);
    transition: all .1s ease-in;
}

.menu__link:hover {
    background-color: var(--color-dark-gray);
}

.menu__link:first-child {
    margin-right: 12px;
}

/* search */
.search {
    position: relative;
    text-align: right;
}

.search__btn {
    position: absolute;
    top: 50%;
    right: 4px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}

/* pagination */
.pagination {
    position: relative;
    height: 20px;
    margin: 12px 0;
    text-align: center;
}

.pagination__btn {
    display: inline-block;
    margin: 0 4px;
    width: 16px;
    height: 16px;
    border: none;
    border-radius: 50%;
    background-color: var(--color-light-gray);
    cursor: pointer;
    transition: all .1s ease;
}

.pagination__btn:hover {
    background-color: var(--color-gray);
}

.pagination__btn.active {
    background-color: var(--color-sky-blue);
}

.pagination__prev, 
.pagination__next {
    position: absolute;
    top: -7px;
    left: 50%;
    transform: translateX(-50%);
    width: 28px;
    height: 28px;
    padding: 4px;
    border: none;
    background-color: var(--color-light-gray);
    cursor: pointer;
}

.pagination__next {
    left: 58%;
}

.pagination__prev {
    left: 42%;
}

/* vote-rs */
.vote-rs {
    display: none;
    padding-bottom: 80px;
}

.vote-rs__content {
    position: relative;
    width: 500px;
    margin: 0 auto;
    text-align: center;
    font-size: var(--font-medium);
}

.vote-rs__content > tbody {
    position: relative;
}

.vote-rs__content > tbody::before {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 0;
    width: 2px;
    height: 100%;
    background-color: var(--color-light-gray);
}

.vote-rs__content > tbody::after {
    content: "";
    position: absolute;
    bottom: -16px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--color-light-gray);
}

caption.section__heading {
    font-size: var(--font-large);
    margin-bottom: 36px;
}

.vote-rs__content th {
    padding: 8px;
}

.ratio {
    height: 18px;
}

.vote-rs__content__close {
    margin-top: 20px;
    text-align: center;
}

.vote-rs__content__close-link {
    color: var(--color-gray);
}


.vote-rs__content__close:hover 
.vote-rs__content__close-link{
    color: var(--color-dark-gray);
}