/* vote */
.vote {
    padding: 80px 0;
}

.section__subheading {
    color: var(--color-dark-gray);
    text-align: center;
}

.section__content {
    width: 700px;
    margin: 0 auto;
}

.vote__form {
    padding: 28px 40px;
    margin-bottom: 20px;
    border: 1px solid var(--color-gray);
    border-radius: 8px;
}

.form__label {
    cursor: pointer;
}

.vote__buttons {
    text-align: right;
}